@charset "UTF-8";

        body{
            background-color: rgb(0, 140, 255);
            font-family: Arial, Helvetica, sans-serif;
            font-size: 20px;
        }

        h1 {
            color: rgb(11, 12, 10);
            background-color: lightsteelblue;
        }

        h2 {
            color:rgb(255, 0, 119);

        }

        p {
            text-align: justify;
        }
    