@charset "utf-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    }

    body {
        background-image: linear-gradient(to bottom, #007566, #589A8D) ;
    }

    main{
        background-color: white;
        border-radius: 10px;
        box-shadow: 5px 5px 15px #914429cb;
        width: 600px;
        padding: 10px;
        margin: auto;
    }

    h1{
        color: #F24405;
        text-align: center;
        text-shadow: 1px 1px 1px rgb(253, 173, 0);

    }
    
    h2{
        color: #FA7F08;
    }
p {
    text-align: justify;
}